<table>
  <thead>
    <tr id="posts_list_headers">
      <th>Subject</th>
      <th>Author</th>
      <th>Date</th>
    </tr>
    <tr id="posts_load_newer" style="margin-top: -1px">
      <th colspan="3" class="loading">Loading newer posts...</th>
    </tr>
  </thead>
  <tbody>
    {{#each post in controller}}
      <tr><td colspan="3">{{post.body}}</td></tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr id="posts_load_older">
      <th colspan="3" class="loading">Loading older posts...</th>
    </tr>
  </tfoot>
</table>
