#groups_list {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 240px;
  margin-top: 2px;
  border-right: 2px solid $border_pane;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;

  nav {
    /* Why is this needed to make things line up? */
    margin-top: -3px;
  }

  ul {
    padding-bottom: 3px;
    border-bottom: 1px solid $border_light;
    margin-bottom: 3px;
    &:first-child {
      padding-top: 3px;
      border-top: 1px solid $border_light;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    @include highlights;
    display: block;
    padding: 0 5px;
  }

  .read_only {
    color: $text_light !important;
  }

  #sync_warning {
    white-space: normal;
    padding: 5px;
    margin-bottom: 0.5em;
    border: 1px solid $border_warning;
    background-color: $bg_sticky;
  }
}
